@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}
.card-img-top {
  width: 100%;
  height: 450px;
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
}
.font-serif {
  font-family: "Georgia", serif;
}

/* Estilos para el encabezado */
.header {
  background-color: #92400e;
  color: white;
  padding: 1.5rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  font-family: "Georgia", serif;
}

.header p {
  text-align: center;
  color: #fef3c7;
  margin-top: 0.5rem;
}

/* Estilos para el contenido principal */
.main-content {
  max-width: 1000px;
  margin: 0 auto;
}

/* Estilos para el menú lateral */
.sidebar {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.sidebar h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e5e7eb;
  color: #92400e;
  font-family: "Georgia", serif;
}


/* Estilos para los platos */
.dish-card {
  min-height: 100%;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.dish-card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dish-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #78350f;
  font-family: "Georgia", serif;
}

.dish-price {
  background-color: #d97706;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.dish-description {
  color: #52565f;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.allergen-tag {
  display: inline-flex;
  align-items: center;
  background-color: #fee2e2;
  color: #b91c1c;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

/* Estilos para el pie de página */
.footer {
  background-color: #78350f;
  color: white;
  padding: 3rem 0;
  margin-top: 2rem;
}

.footer p {
  text-align: center;
  margin: 0;
}

.footer .contact {
  font-size: 0.875rem;
  margin-top: 0.5rem;
}


.sidebar-button {
  width: 100%;
  text-align: left;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar-button.active {
  background-color: #d97706;
  color: white;
}

.sidebar-button:not(.active) {
  color: #d97706;
}

.sidebar-button:not(.active):hover {
  background-color: #fef3c7;
}